# LLM config used by the migration chatbot.
LLM_API_URL=
LLM_API_KEY=
LLM_MODEL_NAME=
LLM_SSL_VERIFY=true
LLM_HTTP_PROXY=

# SendGrid config used by Django email notifications.
DJANGO_SENDGRID_API_KEY=
DJANGO_CA_BUNDLE=E:\AE_WPM_Demo\backend\corporate_ca_bundle.pem